<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contacto</h2>
    </div>

    <div class="row" data-aos="fade-in">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Direccion:</h4>
            <p>Venado Tuerto,Santa Fe. CP: 2600</p>
          </div>

          <div class="email" >
            <a href="mailto:abrahamraies@gmail.com"><i class="bi bi-envelope" ></i></a>
            <h4>Email:</h4>
            <p>abrahamraies@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Teléfono: <a class="fab" href="https://wa.me/5493462539842/?text=Hola%20quisiera%20contactarte!" target="_blank" style="float: right;">
              <img src="assets/img/WhatsApp logo.png" width="60" height="60">
           </a></h4>
            <p>+54 9 3462 539842</p>

          </div>

          <div class="phone">

          </div>

        </div>

      </div>
    </div>


  </div>
</section>
