<section id="contact" class="contact">
  <div class="container">
    <div class="section-title" *ngIf="currentLanguage === 'es'">
      <h2>Contacto</h2>
    </div>

    <div class="section-title" *ngIf="currentLanguage === 'en'">
      <h2>Contact</h2>
    </div>

    <div class="contact-content">
      <div class="contact-info">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Melbourne, Victoria. CP: 3000</p>
          </div>

          <div class="email">
            <a href="mailto:abrahamraies@gmail.com"><i class="bi bi-envelope"></i></a>
            <h4>Email:</h4>
            <p>abrahamraies&#64;gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Teléfono:
              <a class="fab" href="https://wa.me/610403813848/?text=Hello%20,how%20are%20you?" target="_blank">
                <img src="assets/img/WhatsApp logo.png" width="45" height="45">
              </a>
            </h4>
            <p>+61 0403813848</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
