<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>Sobre mi</h2>
      <p>Mi nombre es Abraham Raies, tengo 22 años y soy desarrollador. Me gusta viajar, conocer nuevos lugares, nuevas personas, me adapto fácil a las distintas situaciones del trabajo, soy responsable, solidario, y busco formar parte de un equipo en el cual exista el compañerismo, y un buen ambiente laboral.</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/Perfil.jpeg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Desarrollador</h3>
        <p class="fst-italic">
          Me encuentro trabajando con .Net Core, SAP CPI en una empresa de seguros, y haciendo proyectos como hobby de Spring boot y Angular.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Nacimiento:</strong> <span>07 Junio 2000</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Nacionalidad:</strong> <span>Argentina</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Venado Tuerto</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Estado civil:</strong> <span>Soltero, sin hijos</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>DNI:</strong> <span>42610524</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Cuit:</strong> <span>20-42610524-2</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>abrahamraies@gmail.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Celular:</strong> <span>3462539842</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Nivel de ingles:</strong> <span>B1</span></li>
            </ul>
          </div>
        </div>
        <p>
          Aspiro a poder seguir ampliando mis conocimientos en nuevas tecnologías y nuevos desafíos. Me considero una persona autodidacta, me gusta trabajar en equipo, no me gusta hacer las cosas "porque sí", prefiero entender e interpretar el/los problemas, y solucionarlos de raíz.
        </p>
      </div>
    </div>

  </div>
</section>
