<section id="about" class="about">
  <div class="container">
    <div class="container-idiom">
      <button style="display: flex; justify-content: flex-end;">English</button>
    </div>

    <div class="section-title">
      <h2>Sobre mi</h2>
      <p>¡Hola! Soy Abraham Raies, un joven desarrollador. Me gusta viajar, leer y hacer ciclismo. Repecto al trabajo me adapto facilmente, soy responsable y solidario. Disfruto del trabajo en equipo y creo en la importancia de un buen ambiente laboral. Estoy en constante búsqueda de desafíos y oportunidades para aprender y crecer como profesional.</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right" style="display: flex;justify-content: center;">
        <img src="assets/img/aboutMe.jpg"  width="100%">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Desarrollador</h3>
        <p class="fst-italic">
          En mi actual rol laboral en una destacada compañía de seguros, lidero proyectos de desarrollo utilizando tecnologías como .NET Core, SAP CPI y SQL Server. Mis responsabilidades incluyen:

          <li>Desarrollo y mantenimiento de aplicaciones con .NET CORE y SQL Server.</li>
          <li>Integración de soluciones utilizando herramientas como SAP CPI / RabbitMQ.</li>
          <li>Resolución de problemas y optimización.</li>
          <li>Fomento del aprendizaje continuo y la colaboración.</li>
          <li>Mi enfoque principal radica en contribuir al éxito global del equipo y la empresa, siempre buscando oportunidades para aprender y avanzar en mi carrera profesional.</li>
        </p>
        <p>
          Persisto en la búsqueda constante de ampliar mis conocimientos en nuevas tecnologías y enfrentar desafíos con entusiasmo. Mi enfoque autodidacta me permite desenvolverme eficazmente en equipo, donde destaco por mi capacidad de comprender a fondo los problemas para abordarlos desde su origen.
          <br>
          En el ámbito personal, dedico mis tiempos libres al desarrollo de proyectos freelance utilizando herramientas avanzadas como Angular, .NET Core, Sql Server, MySql,etc. Este compromiso adicional refleja mi pasión por la innovación y mi deseo de mantenerme actualizado en las últimas tendencias tecnológicas.
          <br>
          Actualmente cuento con un <a href="https://firebasestorage.googleapis.com/v0/b/frontend-portfolio-b48a3.appspot.com/o/certificate_level8.pdf?alt=media&token=942e8bf1-bde0-45a4-9989-565438b09785" target="_blank"><b>nivel de ingles B2</b></a> Certificado IELTS: <a href="https://firebasestorage.googleapis.com/v0/b/frontend-portfolio-b48a3.appspot.com/o/AR63023500101-06-01-2024-ETRF.pdf?alt=media&token=fc8f05c5-5f98-4ef0-a0fb-0c548ef09fae" target="_blank"><b>IELTS</b></a>
          <br>
          <br>
          Gracias por visitar mi portfolio y conocer un poco más sobre mí.
        </p>
      </div>
    </div>

  </div>
</section>
