<section id="about" class="about">
  <div class="container">
    <div class="container-idiom">
      <button style="display: flex; justify-content: flex-end;">English</button>
    </div>

    <div class="section-title">
      <h2>Sobre mi</h2>
      <p>¡Hola! Soy Abraham Raies, un joven desarrollador. Me gusta viajar, leer y hacer ciclismo. Repecto al trabajo me adapto facilmente, soy responsable y solidario. Disfruto del trabajo en equipo y creo en la importancia de un buen ambiente laboral. Estoy en constante búsqueda de desafíos y oportunidades para aprender y crecer como profesional.</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right" style="display: flex;justify-content: center;">
        <img src="assets/img/aboutMe.jpg"  width="100%">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Desarrollador</h3>
        <p class="fst-italic">
          En mi trabajo actual en una compañía de seguros, realizo desarrollos en .NET Core, SAP CPI,SQL SERVER. Mis responsabilidades incluyen:

          <li>Desarrollo y mantenimiento de aplicaciones con .NET CORE.</li>
          <li>Integración de sistemas utilizando SAP CPI.</li>
          <li>Resolución de problemas y optimización.</li>
          <li>Fomento del aprendizaje continuo y la colaboración.</li>
          <li>Mi enfoque es contribuir al éxito del equipo y la empresa, mientras sigo aprendiendo y creciendo en mi carrera.</li>
        </p>
        <p>
          Busco constantemente expandir mis conocimientos en nuevas tecnologías y enfrentar desafíos. Soy autodidacta, trabajo bien en equipo y me enfoco en comprender los problemas a fondo para abordarlos desde la raíz.

          En mis tiempos libres me gusta desarrollar proyectos personales utilizando Angular y Spring Boot o .NET Core. Actualmente cuento con un <a href="https://firebasestorage.googleapis.com/v0/b/frontend-portfolio-b48a3.appspot.com/o/certificate_level8.pdf?alt=media&token=942e8bf1-bde0-45a4-9989-565438b09785" target="_blank"><b>nivel de ingles B2</b></a>
          <br>
          <br>
          Gracias por visitar mi portfolio y conocer un poco más sobre mí.
        </p>
      </div>
    </div>

  </div>
</section>
