<div class="row">
  <div class="column">
    <img alt="certificado IONIC" src="assets/img/certificados/IONIC.jpg"/>
    <img alt="certificado CPI" src="assets/img/certificados/SAP CPI.jpg"/>
    <img alt="certificado SQL" src="assets/img/certificados/SQL Server.jpg"/>
    <img alt="certificado Kali" src="assets/img/certificados/Certificado Kali.jpg"/>
    <img alt="certificado MVC" src="assets/img/certificados/MVC (ajax + Json+ Bootstrap + js).jpg"/>
    <img alt="certificado ASP" src="assets/img/certificados/ASP.net MVC.jpg"/>
  </div>

  <div class="column">
    <img alt="certificado Net framework" src="assets/img/certificados/API NET FRAMEWORK.jpg"/>
    <img alt="certificado Net core basico" src="assets/img/certificados/API NET CORE api basica.jpg"/>
    <img alt="certificado Net core avanzado" src="assets/img/certificados/API NET CORE.jpg"/>
    <img alt="certificado C#" src="assets/img/certificados/C.jpg"/>
    <img alt="certificado ADO" src="assets/img/certificados/C SQL ADO CRUD.jpg"/>
    <img alt="certificado C# 4 capas" src="assets/img/certificados/C sql 4 capas.jpg"/>
  </div>

  <div class="column">
    <img alt="certificado DevOps" src="assets/img/certificados/DEVOPS AZURE.jpg"/>
    <img alt="certificado SOLID" src="assets/img/certificados/SOLID.jpg"/>
    <img alt="certificado OpenEnglish" src="assets/img/certificados/Cert_lvl_6.jpg"/>
    <img alt="certificado Google" src="assets/img/certificados/LATAM-GCE2022.jpg"/>
    <img alt="certificado Argentina programa" src="assets/img/certificados/argentina_programa_2022.jpg"/>
  </div>



</div>
