<section id="home" class="d-flex flex-column justify-content-center align-items-center">
  <div class="home-container" data-aos="fade-in" style="display: inline-block;">
    <h1 style="font-size: 6vw;">Abraham Raies</h1>
    <ngx-typed-js [strings]="['Programmer', 'CPI Developer','Freelancer']"  [backDelay]="1800" [loop]="true" [backSpeed]="50" [typeSpeed]="50" [showCursor]="false">

      <span style="font-size: 4vw; color: white; font-weight: bold;">I'm </span><span class="typing" style="font-size: 4vw; color: white; font-weight: bold" ></span>

    </ngx-typed-js>
  </div>
</section>

