<div class="row">
  <div class="column">
    <img alt="Certificado GitHub Challenge Microsoft en Cloud Skills" src="assets/img/certificados/Microsoft Learn Cloud Skills Challenge at build 2024.jpg"/>
    <img alt="Certificado en Azure Open AI por Microsoft" src="assets/img/certificados/Azure Open AI.JPG"/>
  </div>
  <div class="column">
    <img alt="Certificado de nivel 8 en OpenEnglish" src="assets/img/certificados/Cert_lvl_8.jpg"/>
  </div>
  <div class="column">
    <img alt="Certificado de Argentina Programa 2022" src="assets/img/certificados/argentina_programa_2022.jpg"/>
    <img alt="Certificado de Argentina Programa 4.0" src="assets/img/certificados/YoProgramo4_Certificado.jpg"/>
  </div>
</div>
<div style="text-align: center; margin-top: 20px;">
  <button (click)="goBackToSection('#resume')" style="margin-top: 20px;">Volver atrás</button>
</div>
