<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="/assets/img/Perfil.jpeg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Abraham Raies</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://www.facebook.com/abraham.raies.3/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/abrahamraies/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/Abraham74" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/abraham-raies-14577921b/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <hr>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre mi</span></a></li>
        <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Habilidades</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resumen</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
      </ul>
    </nav>
  </div>
  <script src="../assets/js/main.js"></script>
</header>



<main id="main">
  <router-outlet></router-outlet>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
