<section id="proyect" class="proyect section-bg">
  <div class="container">

    <div class="section-title">
      <h2>{{ currentLanguage === 'es' ? 'Proyectos' : 'Projects' }}</h2>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="proyect-flters">
          <li data-filter="*" class="filter-active">{{ currentLanguage === 'es' ? 'Todos' : 'All' }}</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div class="row proyect-container" data-aos="fade-up" data-aos-delay="100">
      <div
        *ngFor="let project of projects"
        [ngClass]="project.filterClass"
        class="col-lg-4 col-md-6 proyect-item">
        <div class="proyect-wrap">
          <p>{{ currentLanguage === 'es' ? project.titleEs : project.titleEn }}</p>
          <img [src]="project.image" class="img-fluid" [alt]="project.altText">
          <div class="proyect-links">
            <a [href]="project.demoLink" target="_blank" data-gallery="proyectGallery" class="proyect-lightbox" [title]="project.titleEn"><i class="bx bx-plus"></i></a>
            <a [href]="project.repoLink" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
