<section id="proyect" class="proyect section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Proyectos</h2>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="proyect-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div class="row proyect-container" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 proyect-item filter-app">
        <div class="proyect-wrap">
          <p>App de Noticias con IONIC</p>
          <img src="assets/img/NoticiasPrincipal.png" class="img-fluid" alt="">
          <div class="proyect-links">
            <a href="https://marvelapp.com/prototype/2i6hebeg" target="_blank" data-gallery="Noticias App" class="proyect-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="https://github.com/abrahamraies/App-de-noticias" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 proyect-item filter-app">
        <div class="proyect-wrap">
          <p>App de Peliculas con IONIC</p>
          <img src="assets/img/PeliculasPrincipal.png" class="img-fluid" alt="">
          <div class="proyect-links">
            <a href="https://marvelapp.com/prototype/j8j4i3e" target="_blank" data-gallery="proyectGallery" class="proyect-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="https://github.com/abrahamraies/peliculasApp" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 proyect-item filter-web">
        <div class="proyect-wrap">
          <p>Web de Alquiler de vehiculos</p>
          <img src="assets/img/rentalsVenado.png" class="img-fluid" alt="">
          <div class="proyect-links">
            <a href="https://rentals-venado.web.app/"  target="_blank" data-gallery="proyectGallery" class="proyect-lightbox" title="Rentals Venado"><i class="bx bx-plus"></i></a>
            <a href="https://github.com/abrahamraies/Proyecto_alquiler_vehiculos" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 proyect-item filter-web">
        <div class="proyect-wrap">
          <p>Web de Noticias con Angular</p>
          <img src="assets/img/Imagen para portfolio.png" class="img-fluid" alt="">
          <div class="proyect-links">
            <a href="https://drive.google.com/drive/folders/1Mqw7XWESNQhPS2zuWGrOewiWdKxyUUXn?usp=sharing"  target="_blank" data-gallery="proyectGallery" class="proyect-lightbox" title="Rentals Venado"><i class="bx bx-plus"></i></a>
            <a href="https://github.com/abrahamraies/DailyNews" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
