<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Habilidades</h2>
    </div>

    <div class="columna">
      <div class="fila" data-aos="fade-right">
        <img src="../../../assets/img/iconos lenguajes/docker.png" >
        <img src="../../../assets/img/iconos lenguajes/AngularJS-Shield.svg">
        <img src="../../../assets/img/iconos lenguajes/Octicons-mark-github.svg.png" >
        <img src="../../../assets/img/iconos lenguajes/1200px-Ionic-logo-landscape.svg.png">
      </div>
      <div class="fila" data-aos="fade-right">
        <img src="../../../assets/img/iconos lenguajes/MongoDB_Logo.svg.png">
        <img src="../../../assets/img/iconos lenguajes/SAP CPI.png" >
        <img src="../../../assets/img/iconos lenguajes/spring-boot-logo.png" >
        <img src="../../../assets/img/iconos lenguajes/NET_Core_Logo.svg.png" >
      </div>
    </div>
  </div>
</section>
