#skills {
  background-color: #f4f4f4;
  padding: 40px 0;
}

.section-title {
  text-align: center;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.skills-category {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul > li {
  margin: 10px 0;
}

ul > li {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

h4 {
  font-weight: bold;
}
