<div class="row">
  <div class="column">
    <img alt="Certificado de conocimientos en RabbitMQ Concepts" src="assets/img/certificados/RabbitMQ Concepts.jpg"/>
    <img alt="Certificado de integración en SAP CPI" src="assets/img/certificados/SAP CPI.jpg"/>
    <img alt="Certificado en administración de bases de datos SQL Server" src="assets/img/certificados/SQL Server.jpg"/>
    <img alt="Certificado de competencias en seguridad con Kali Linux" src="assets/img/certificados/Certificado Kali.jpg"/>
    <img alt="Certificado en desarrollo con MVC (Ajax, JSON, Bootstrap, JavaScript)" src="assets/img/certificados/MVC (ajax + Json+ Bootstrap + js).jpg"/>
    <img alt="Certificado en desarrollo de aplicaciones con ASP.NET MVC" src="assets/img/certificados/ASP.net MVC.jpg"/>
  </div>

  <div class="column">
    <img alt="Certificado avanzado en desarrollo con .NET Core API" src="assets/img/certificados/API NET CORE.jpg"/>
    <img alt="Certificado en pruebas unitarias de software" src="assets/img/certificados/Unit Testing.jpg"/>
    <img alt="Certificado básico en desarrollo con .NET Core API" src="assets/img/certificados/API NET CORE api basica.jpg"/>
    <img alt="Certificado en desarrollo de APIs con .NET Framework" src="assets/img/certificados/API NET FRAMEWORK.jpg"/>
    <img alt="Certificado en programación en C#" src="assets/img/certificados/C.jpg"/>
  </div>

  <div class="column">
    <img alt="Certificado en DevOps con Azure" src="assets/img/certificados/DEVOPS AZURE.jpg"/>
    <img alt="Certificado en principios SOLID para diseño de software" src="assets/img/certificados/SOLID.jpg"/>
    <img alt="Certificado en ADO.NET y operaciones CRUD con SQL" src="assets/img/certificados/C SQL ADO CRUD.jpg"/>
    <img alt="Certificado en desarrollo de aplicaciones multicapa en C# y SQL" src="assets/img/certificados/C sql 4 capas.jpg"/>
    <img alt="Certificado en desarrollo de aplicaciones móviles con Ionic" src="assets/img/certificados/IONIC.jpg"/>
  </div>
</div>
