<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>{{ content.title }}</h2>
      <p>
        {{ content.description }}
      </p>
    </div>

    <div class="row">
      <!-- Experiencia profesional -->
      <div class="col-lg-12 section-bg" data-aos="fade-up">
        <h3 class="resume-title" style="text-align: center">
          {{ content.experienceTitle }}
        </h3>
        <div *ngFor="let job of content.experience" class="resume-item">
          <h4>{{ job.position }}</h4>
          <h5>{{ job.date }}</h5>
          <p>
            <em>{{ job.company }}</em>
          </p>
          <ul>
            <li *ngFor="let task of job.tasks" [innerHTML]="task"></li>
          </ul>
        </div>
      </div>

      <!-- Educación -->
      <div class="col-lg-12" data-aos="fade-up">
        <h3 class="resume-title" style="text-align: center">{{ content.educationTitle }}</h3>
        <div *ngFor="let edu of content.education" class="resume-item">
          <h4>{{ edu.title }}</h4>
          <h5>{{ edu.date }}</h5>
          <p><em>{{ edu.school }}</em></p>
          <p>{{ edu.description }}</p>
        </div>
      </div>

      <!-- Cursos -->
      <div class="col-lg-12 section-bg" data-aos="fade-up">
        <h3 class="resume-title text-center" id="cursos">{{ content.coursesTitle }}</h3>
        <div class="resume-item pb-0">
          <ng-container *ngFor="let category of content.courses| keyvalue">
            <a
              [routerLink]="getCourseLink(category.key)"
              target="_blank"
              *ngIf="isInternalLink(category.key); else externalLink"
            >
              <h4
                style="
                  color: #2980b9;
                  font-size: 1.5em;
                  margin-top: 20px;
                  border-left: 4px solid #3498db;
                  padding-left: 10px;
                "
              >
                {{ category.key }}
              </h4>
            </a>

            <ng-template #externalLink>
              <a
                [href]="getExternalLink(category.key)"
                target="_blank"
              >
                <h4
                  style="
                    color: #2980b9;
                    font-size: 1.5em;
                    margin-top: 20px;
                    border-left: 4px solid #3498db;
                    padding-left: 10px;
                  "
                >
                  {{ category.key }}
                </h4>
              </a>
            </ng-template>

            <!-- Lista de cursos -->
            <ul style="list-style-type: none; padding-left: 20px">
              <li *ngFor="let course of category.value">
                <i class="bi bi-check-circle-fill"></i> {{ course }}
              </li>
            </ul>
          </ng-container>
        </div>
      </div>

      <!-- Certificados y Test's -->
      <div class="col-lg-12" data-aos="fade-up">
        <h3 class="resume-title" style="text-align: center">{{content.certificatesTitle}}</h3>
        <a routerLink="/certificados" style="text-align: center"
          ><h5>{{content.certificatesSubtitle}}</h5></a
        >
        <h4 class="resume-title" style="text-align: center">{{content.testsTitle}}</h4>
        <a
          href="https://firebasestorage.googleapis.com/v0/b/frontend-portfolio-b48a3.appspot.com/o/Test_Competencias.pdf?alt=media&token=72f618e4-fc5a-42f5-a45c-d1fa966259e7"
          target="_blank"
          style="text-align: center"
          ><h5>{{content.testCompetency}}</h5></a
        >
      </div>
    </div>
  </div>
</section>
